<style>
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
</style>

/*----Global Layout Setup----*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/*----title font----*/
h1,
h2,
h3 {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
}

/*----Header Styles----*/

.head-name {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2em;
    font-weight: 350;
}

.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: darkslategrey;
    font-size: 1em;
    font-weight: 250;
    text-align: center;
    padding: .5em;
    border: whitesmoke 5px solid;
}

nav a:hover {
    color: orangered;
}

ul {
    list-style: none;
}

li {
    background-color: white;
    text-transform: uppercase;
}

.profile-img {
    display: block;
    width: 45%%;
}

/*----Base Markup Styles----*/

a,
h2 {
    text-decoration: none;
}

img {
    margin: 0 auto;
    display: block;
    width: 55%;
}

p {
    display: block;
    line-height: 25px;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    padding: 20px;
}

/*----Footer Styles----*/

footer h1 {
    float: left;
    width: 50%;
    font-size:.75em;
}

footer p {
    float: right;
    width: 50%;
    font-size: .25em;
}

.footer-name {
    Font-size: 1.5em;
}

.contact-info {
    display: block;
    margin: 0 auto;
}

/*----Portfolio Styles----*/

.portfolio {
    background-color: white;
}

/*----Float Clearfix----*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }



/*----Media Queries----*/

@media screen and (min-width: 768px) {

    .nav {
        flex-direction: row;
    }

    .portfolio-left {
        float: left;
        width: 50%;
        margin: 15px;
    }

    .portfolio-right {
        float: right;
        width: 50%;
        margin: 15px;
    }
}

@media screen and (min-width: 1024px) {


}