/* Global Layout Setup */

*{
    box-sizing: border-box;
}

body {
    margin: 40%;
    background-color: lightgrey;
}
/*title font*/
h1,
h2,
h3 {
    font: darker-grotesque;
}

nav {
    text-align: center;
    width:100%;
    padding: 10px;
    font-weight: 200;
}

ul {
    list-style: none;
}

li {
    background-color: white;
}

.head-name {
    text-align: center;
    font: darker-grotesque;
    font-size: 1.5em;
    font-weight: 250;
}

