@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);
/* Global Layout Setup */

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/*title font*/
h1,
h2,
h3 {
    font-family: 'darker grotesque', times 'Times New Roman', Times, serif;
}

.main-header,
.nav {
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
}
nav a {
    display: block;
    color: darkslategrey;
    font-size: 1em;
    font-weight: 250;
    text-align: center;
    padding: .5em;
    margin-bottom: 5px;
    margin-top: 5px;
}

nav a:hover {
    color: orangered;
}

ul {
    list-style: none;
}

li {
    background-color: white;
    text-transform: uppercase;
}

.head-name {
    text-align: center;
    font: darker-grotesque;
    font-size: 1.5em;
    font-weight: 250;
}

img {
    margin: 0 auto;
}

.profile-img {
    display: block;
    width: 75%;
}



