/*<style>
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style> */

/*----Global Layout Setup----*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/*----title font----*/
h1,
h2,
h3 {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
}

/*----Header Styles----*/

.head-name {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2em;
    font-weight: 350;
}
.nav-bottom {
    display: none;
}

.main-header,
nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: darkslategrey;
    font-size: 1em;
    font-weight: 250;
    text-align: center;
    padding: .5em;
    border: whitesmoke 5px solid;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: orangered;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    text-transform: uppercase;
}

.profile-img {
    display: block;
    width: 35%%;
}

#skills {
    background-color: rgb(245, 184, 92);
    margin: 0 auto;
    width: 100%;
}

/*----Base Markup Styles----*/

a,
h2 {
    text-decoration: none;
    color: darkslategrey;
}

img {
    margin: 0 auto;
    display: block;
    width: 85%;
}

p {
    display: block;
    line-height: 24px;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    padding-bottom: 10px;
}

/*----Footer Styles----*/

footer h2 {
    float: left;
    width: 50%;
    font-size:.75em;
}

.footer-name {
    Font-size: 1.5em;
}

.back-to-top {
    text-decoration: none;
    color: darkslategrey;
    Font-size: 1.5em;
}

.contact-info {
    display: block;
    margin: 0 auto;
}

.footer-line {
    color: grey;
}

/*----Portfolio Styles----*/

.portfolio {
    background-color: white;
}

/*----Float Clearfix----*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }



/*----Media Queries----*/

@media screen and (min-width: 768px) {

    
    nav {
        width: 40%;
        margin: 0 auto;
        text-decoration: none;
        background: none;
    }

    .nav-bottom ul {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;     
    }

    li {
        display: inline-block;
        background: none;
        padding: 5px; 
    }

    .nav-bottom li {
        Font-size: 1em; 
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0px;
    }

    .nav-bottom {
        display: block;
        color: darkslategrey;
        font-size: 1em;
        font-weight: 250;
        text-align: center;
        padding: .5em;
        border: whitesmoke 5px solid;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
    }

    .nav-bottom a {
        color: darkslategrey;
    }

    .portfolio-item {
        float: left;
        width: 50%;
        height: 350px;
        margin-bottom: 10px;
    }

    .footer-name {
        margin-bottom: 30px;
        font-size: 1em;
    }

    .back-to-top {
        display: none;
    }

    .profile-img {
        float: right;
        width: 30%;
        height: 30%;
        margin-right: 15px;
    }

    .profile-p {
        margin-right: 5%;
        margin-left: 5%;
    }

    p {
        margin: 5%;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
        }
}

@media screen and (min-width: 1024px) {

    .header-nav {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-right: 0;
    }

    nav {
        margin-right: 0;
    }
    .nav li {
        align-self: right;
    }

    .portfolio-item {
        float: left;
        width: 33.3%;
    }

    .profile-p {
        width: 55%;
    }
}