<style>
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>

/*----Global Layout Setup----*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/*----title font----*/
h1,
h2,
h3 {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
}

/*----Header Styles----*/

.head-name {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2em;
    font-weight: 350;
}
.nav-bottom {
    display: none;
}

.main-header,
nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: darkslategrey;
    font-size: 1em;
    font-weight: 250;
    text-align: center;
    padding: .5em;
    border: whitesmoke 5px solid;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: orangered;
}

ul {
    list-style: none;
}

li {
    background-color: white;
    text-transform: uppercase;
}

.profile-img {
    display: block;
    width: 45%%;
}

#skills {
    background-color: lightcoral;
    margin: 0 auto;
    width: 100%;
}

/*----Base Markup Styles----*/

a,
h2 {
    text-decoration: none;
}

img {
    margin: 0 auto;
    display: block;
    width: 55%;
}

p {
    display: block;
    line-height: 25px;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    padding: 20px;
}

/*----Footer Styles----*/

footer h1 {
    float: left;
    width: 50%;
    font-size:.75em;
}

.footer-name {
    Font-size: 1.5em;
}

.back-to-top {
    text-decoration: none;
}

.contact-info {
    display: block;
    margin: 0 auto;
}

/*----Portfolio Styles----*/

.portfolio {
    background-color: white;
}

/*----Float Clearfix----*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }



/*----Media Queries----*/

@media screen and (min-width: 768px) {

    
    nav {
        width: 40%;
        margin: 0 auto;
        text-decoration: none;
        background: none;
    }

    ul a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    li {
        display: inline-block;
        background: none;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px, 15px;
        text-decoration: none;
    }

    .portfolio-item {
        float: left;
        width: 50%;
    }

    .back-to-top {
        display: none;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
        }
}

@media screen and (min-width: 1024px) {

   
}